{% extends 'layout_m.html' %}

{% block title %}Видалити працівника{% endblock %}

{% block content %}
<div class="modal-overlay">
    <div class="modal-container">
        <h2>Ви впевнені, що хочете видалити цього працівника?</h2>

        <div class="modal-actions">
            <form method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-delete">Так, видалити</button>
            </form>
            <a href="{% url 'workers_list' %}" class="btn btn-back">Ні, скасувати</a>
        </div>
    </div>
</div>
{% endblock %}
