{% extends 'layout_m.html' %}

{% block title %}Список працівників{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-bottom: 30px;">Список працівників</h2>
    <form method="get">
        {% csrf_token %}
        <table>
            <tr>
                <th>
                    <input name="filter_id" type="number">
                    <a href="?sort=id&dir={% if sort_field == 'id' and direction == 'asc' %}desc{% else %}asc{% endif %}">ID</a>
                </th>
                <th>
                    <input name="filter_name" type="text">
                    <a href="?sort=name&dir={% if sort_field == 'name' and direction == 'asc' %}desc{% else %}asc{% endif %}">Ім'я</a>
                </th>
                <th>
                    <input name="filter_surname" type="text">
                    <a href="?sort=surname&dir={% if sort_field == 'surname' and direction == 'asc' %}desc{% else %}asc{% endif %}">Прізвище</a>
                </th>
                <th>
                    <input name="filter_position" type="text">
                    <a href="?sort=position&dir={% if sort_field == 'position' and direction == 'asc' %}desc{% else %}asc{% endif %}">Посада</a>
                </th>
                <th>
                    <input name="filter_salary" type="number">
                    <a href="?sort=salary&dir={% if sort_field == 'salary' and direction == 'asc' %}desc{% else %}asc{% endif %}">Зарплата</a>
                </th>
                <th><input name="filter_phone" type="text">
                    <a href="?sort=phone&dir={% if sort_field == 'phone' and direction == 'asc' %}desc{% else %}asc{% endif %}">Телефон</a></th>
                <th>
                    <input name="filter_date_hired" type="date">
                    <a href="?sort=date_hired&dir={% if sort_field == 'date_hired' and direction == 'asc' %}desc{% else %}asc{% endif %}">Дата прийому</a>
                </th>
                <th>
                    <input name="filter_is_active" type="boolean">
                    <a href="?sort=is_active&dir={% if sort_field == 'is_active' and direction == 'asc' %}desc{% else %}asc{% endif %}">Активний</a>
                </th>
                <th><button type="submit">{% block b %}ОК{% endblock %}</button><br><br></th>
            </tr>
            {% for worker in all_workers %}
            <tr>
                <td>{{ worker.id }}</td>
                <td>{{ worker.name }}</td>
                <td>{{ worker.surname }}</td>
                <td>{{ worker.position }}</td>
                <td>{{ worker.salary }}</td>
                <td>{{ worker.phone }}</td>
                <td>{{ worker.date_hired }}</td>
                <td>{% if worker.is_active %}✅{% else %}❌{% endif %}</td>
                <td><a href="{% url 'worker_details' worker.id%}">Детальніше</a></td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <a href="{% url 'worker_create' %}">➕ Додати нового працівника</a>
    </form>

{% endblock %}
