{% extends "layout.html" %}

{% block title %}Сервіси - Company Site{% endblock %}

{% block content %}
    <h1>Наші Сервіси та Ціни</h1>

    <div class="service-block">
        <span>Бухгалтерський супровід малого бізнесу</span>
        <span class="price">від 3000 грн</span>
    </div>

    <div class="service-block">
        <span>Податковий консалтинг та оптимізація</span>
        <span class="price">від 2500 грн</span>
    </div>

    <div class="service-block">
        <span>Фінансовий аналіз та планування</span>
        <span class="price">від 4000 грн</span>
    </div>

    <div class="service-block">
        <span>Консультації для стартапів та підприємців</span>
        <span class="price">від 1500 грн</span>
    </div>
{% endblock %}
