<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Company Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{% url 'home' %}">Головна</a>
            <a href="{% url 'services' %}">Сервіси</a>
            <a href="{% url 'projects' %}">Проекти</a>
            <a href="{% url 'contacts' %}">Контакти</a>
            <a href="{% url 'workers' %}">Робітники</a>
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
            <p>© 2025 CompanyName | Всі права захищено</p>
            <a class="admin-link" href="{% url 'login_moderator' %}">🔒 Вхід для адміністратора</a>
        </footer>
    </div>
</body>
</html>
