{% extends 'layout_m.html' %}

{% block title %}Moderator - Головна{% endblock %}

{% block content %}
    <h2>Вітаємо у панелі модератора</h2>
    <p>
        Тут ви можете керувати <b>працівниками</b>, <b>клієнтами</b>, <b>проектами компанії</b>.
        Панель допоможе швидко знаходити потрібну інформацію та контролювати бізнес-процеси.
    </p>

    <ul>
        <li>Перегляд та редагування списку працівників</li>
        <li>Додавання нових працівників</li>
        <li>Керування проектами та клієнтами</li>
    </ul>
{% endblock %}
